name: CI

on: push
jobs:
  linting:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: yarn install

      - name: Hadolint Action
        uses: brpaz/hadolint-action@v1.0.2

      - name: eslint
        run: yarn lint

      - name: prettier
        run: yarn prettier

  typechecks:
    runs-on: ubuntu-latest
    name: Typecheck
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Typecheck
        run: yarn tsc

  unittests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Unittests
        run: yarn test:unit

  integration:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            browser: firefox:headless
          # - os: windows-latest
          #   browser: chrome:headless
          # - os: windows-latest
          #   browser: ie
          # - os: windows-latest
          #   browser: edge:headless
          # - os: ubuntu-latest
          #   browser: firefox
          # - os: ubuntu-latest
          #   browser: chrome
          # - os: macos-latest
          #   browser: firefox
          # - os: macos-latest
          #   browser: chrome
          # - os: macos-latest
          #   browser: Microsoft Edge

    runs-on: ${{ matrix.os }}
    name: Integration Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Load build directory
        uses: actions/download-artifact@v1
        with:
          name: dist

      - name: Integration tests
        run: yarn test:e2e
        env:
          CI: true
          BROWSER: ${{matrix.browser}}

  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Cache build directory
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist
