name: CI

on: [push]
jobs:
  linting:
    runs-on: ubuntu-latest
    name: linting
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: yarn install

      - name: Hadolint Action
        uses: brpaz/hadolint-action@v1.0.2

      - name: eslint
        run: yarn lint

      - name: prettier
        run: yarn prettier

      - name: Run codacy-analysis-cli
        uses: mrfyda/codacy-analysis-cli-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}

  integration:
    runs-on: ubuntu-latest
    name: integration
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Typecheck
        run: yarn tsc

      - name: Unittests
        run: yarn test:unit

      - name: Integration tests
        uses: cypress-io/github-action@v1.16.1
        with:
          build: ./node_modules/.bin/webpack --mode=production
          start: npm run serve
          wait-on: http://localhost:5000

  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: ./node_modules/.bin/webpack --mode=production

      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: chronark/atlas/latest
          username: ${{ github.actor }}
          password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          registry: docker.pkg.github.com
          tags: "latest"
