name: CI

on: push
jobs:
  linting:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v2.3.3

      - name: Install dependencies
        run: npm install

      - name: Hadolint Action
        uses: brpaz/hadolint-action@v1.0.2

      - name: eslint
        run: npm run lint

      - name: prettier
        run: npm run prettier

  typechecks:
    runs-on: ubuntu-latest
    name: Typecheck
    steps:
      - uses: actions/checkout@v2.3.3
      - name: Setup node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm install

      - name: Typecheck
        run: npm run tsc

  unittests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - uses: actions/checkout@v2.3.3
      - name: Setup node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm install

      - name: Unittests
        run: npm test

  integration:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            browser: firefox:headless
          - os: windows-latest
            browser: chrome:headless
          - os: windows-latest
            browser: ie
          - os: windows-latest
            browser: edge:headless
          - os: windows-latest
            brwoser: chromium:headless

          # - os: ubuntu-latest
          #   browser: firefox:headless
          # - os: ubuntu-latest
          #   browser: chrome:headless
          # - os: ubuntu-latest
          #   browser: chromium:headless
          # Enable these once testcafe works on github's macos machines
          # - os: macos-latest
          #   browser: firefox
          # - os: macos-latest
          #   browser: chrome
          # - os: macos-latest
          #   browser: Microsoft Edge

    runs-on: ${{ matrix.os }}
    name: Integration Tests
    steps:
      - uses: actions/checkout@v2.3.3
      - name: Setup node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm install

      - name: Load build directory
        uses: actions/download-artifact@v1
        with:
          name: dist

      - name: Integration tests
        run: npm run test:e2e
        env:
          CI: true
          BROWSER: ${{matrix.browser}}

  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v2.3.3
      - name: Setup node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Cache build directory
        uses: actions/upload-artifact@v2.2.2
        with:
          name: dist
          path: dist
