name: CI

on: push
jobs:
  linting:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: yarn install

      - name: Hadolint Action
        uses: brpaz/hadolint-action@v1.0.2

      - name: eslint
        run: yarn lint

      - name: prettier
        run: yarn prettier

  typechecks:
    runs-on: ubuntu-latest
    name: Typecheck
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Typecheck
        run: yarn tsc

  unittests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Unittests
        run: yarn test:unit

  integration_firefox:
    needs: build
    strategy:
      matrix:
        browser: ["firefox"]
        os: ["windows-latest", "macos-latest", "ubuntu-latest"]
    runs-on: "windows-latest"
    name: Integration Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Load build directory
        uses: actions/download-artifact@v1
        with:
          name: dist

      - name: Integration tests
        run: yarn test:e2e
        env:
          CI: true
          BROWSER: ${{matrix.browser}}

  integration_chrome:
    needs: build
    strategy:
      matrix:
        browser: ["chrome"]
        os: ["windows-latest", "macos-latest", "ubuntu-latest"]
    runs-on: "windows-latest"
    name: Integration Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Load build directory
        uses: actions/download-artifact@v1
        with:
          name: dist

      - name: Integration tests
        run: yarn test:e2e
        env:
          CI: true
          BROWSER: ${{matrix.browser}}
  integration_ie:
    needs: build
    strategy:
      matrix:
        browser: ["ie"]
        os: ["windows-latest"]
    runs-on: "windows-latest"
    name: Integration Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Load build directory
        uses: actions/download-artifact@v1
        with:
          name: dist

      - name: Integration tests
        run: yarn test:e2e
        env:
          CI: true
          BROWSER: ${{matrix.browser}}
  integration_edge:
    needs: build
    strategy:
      matrix:
        browser: ["edge"]
        os: ["windows-latest"]
    runs-on: "windows-latest"
    name: Integration Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Load build directory
        uses: actions/download-artifact@v1
        with:
          name: dist

      - name: Integration tests
        run: yarn test:e2e
        env:
          CI: true
          BROWSER: ${{matrix.browser}}
  integration_safari:
    needs: build
    strategy:
      matrix:
        browser: ["safari"]
        os: ["macos-latest"]
    runs-on: "windows-latest"
    name: Integration Tests
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Load build directory
        uses: actions/download-artifact@v1
        with:
          name: dist

      - name: Integration tests
        run: yarn test:e2e
        env:
          CI: true
          BROWSER: ${{matrix.browser}}
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Cache build directory
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist
